[Unit]
Description=Redis2
After=network.target

[Service]
Environment="PATH={{ PATH.stdout }}"
ExecStart=/data1/redis-server /data1/redis_{{port}}/redis.conf  --daemonize no
ExecStop=/data1/redis-cli -h 127.0.0.1 -p {{port}} shutdown
[Install]
WantedBy=multi-user.target
